/* Variables */
:root {
    --pink: #D83F87;
    --dark-purple: #2A1B3D;
    --blue: #44318D;
    --light-purple: #8265a8;
}

/* Overlay Styling */
.overlay {
    position: fixed;
    z-index: 1;
    color: var(--dark-purple);
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay h1 {
    color: var(--pink);
    text-shadow: none;
    margin-bottom: 10px;
}

.overlay p {
    margin: 0;
}

.start button {
    margin: 20px;
}

.end {
    display: none;
}

.end h1 {
    margin-bottom: 0;
}

.end h2 {
    margin-top: 10px;
}


/* Main Styling */
* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(14,10,69);
    background: radial-gradient(circle, var(--dark-purple) 25%, var(--blue) 93%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: white;
    margin: 10px;
    text-shadow: 3px 2px 1px var(--pink);
}

.gameboard {
    width: 90%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 44px 2px rgba(5,3,23,0.9);
}

.question h2 {
    color: var(--dark-purple);
    font-size: 1.2em;
}

.answers-container ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.answers-container li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-purple);
    color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: .5s ease-out;
}

.incorrect {
    animation: incorrect 2.5s, shake 1s;
}

.correct {
    animation: correct 2.5s, pulse 2s;
}

.active {
    animation: pulse 4s infinite;
    border: 3px solid var(--dark-purple);
}

.scores {
    display: flex;
    justify-content: space-around;
    margin: auto;
    border-radius: 10px;
}

.player {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.player h3 {
    border-bottom: 1px solid var(--pink);
    margin-bottom: 0;
}

.player h4 {
    margin: 0;
    padding: 20px;
}

.player h3, .player h4 {
    color: var(--dark-purple);

}

#questions-left {
    color: var(--blue);
    margin-top: 0;
}

button {
    background-color: var(--pink);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    transition: .5s ease-in-out;
    cursor: pointer;
}

/* Media Queries */
@media screen and (min-width: 768px) {

    h1 {
        font-size: 3em;
    }

    .question h2 {
        font-size: 1.5em;
    }

    .answers-container ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .answers-container li {
        width: 40%;
    }

    .gameboard {
        width: 70%;
        margin: auto;
    }

    .scores {
        width: 50%;
    }

}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 3.5em;
    }

    .scores {
        width: 40%;
    }
}

/* Only adds hover styles to screens that support it */
@media (hover: hover) {
    .answers-container li:hover {
        background-color: var(--blue);
        box-shadow: 3px 3px 18px 2px gray;
        transform: scale(1.01);
    }

    button:hover {
        background-color: var(--blue);
        transform: scale(1.01); 
    }
  }

  /* Keyframes */

  @keyframes incorrect {
      0% {
          background-color: red;
      }

      100% {
          background-color: var(--dark-purple);
      }
  }

  @keyframes correct {
    0% {
        background-color: green;
    }

    50% {
        background-color: green;
    }

    100% {
        background-color: var(--dark-purple);
    }
  }

  @keyframes shake {
    10% {
        transform: rotate(2deg);
    }

    20% {
        transform: rotate(-2deg);
    }

    30% {
        transform: rotate(2deg);
    }

    40% {
        transform: rotate(-2deg);
    }

    50% {
        transform: rotate(2deg);
    }

    60% {
        transform: rotate(-2deg);
    }

    70% {
        transform: rotate(2deg);
    }

    80% {
        transform: rotate(-2deg);
    }

  }

  @keyframes pulse {
    20% {
        transform: scale(1.05);
    }
    30% {
    transform: scale(1);
    }
    40% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.05);
    }
    70% {
    transform: scale(1);
    }
  }